.esh-app-footer {
    background-color: lightseagreen;
    border-top: 1px solid #EEEEEE;
    margin-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-top: 2.5rem;
    width: 100%;
}

.esh-app-footer-brand {
    height: 100px;
    width: 230px;
}

.esh-app-footer-text {
    position: fixed;
    
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #999;
    text-align: center;
}
    
   
